  .contact-container {
    padding: 10px 25px;
  }
  .input{
      width: 200;
      background-color: linen;
      border: #343a40 solid 1px;
  }
  .message-box {
    height: 100px;
    width: 243px;
    margin-bottom: 30px;
  }
  .submit-btn {
    border: none;
    background-color: #343a40;
    height: 30px;
    width: 75px;
    color: gainsboro;
  }
