html {
  height: 100%;
}

body {
  background-image: url(../Images/pexels-scott-webb-305821.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  background-color: rgb(232,231,227);
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #3D7042;
}

#name {
  font-size: 24px;
  font-weight: 600;
  color: gainsboro;
}

.card-title{
  background-color: transparent;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  border: none;
}

.card-main {
  margin: 40px 20px;
  border: none;
  background-color: transparent;
}

.footer-card {
  background-color: #3D7042;
  border-radius: 0;
  width: 100%;
  border-top: none;
}