html {
  height: 100%;
}

body {
  background-image: url(../Images/pexels-john-cahil-rom-2170473.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}

.navbar {
  background-color: transparent;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #c78e9b;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e707b;
}

/* #name {
  font-size: 24px;
  font-weight: 600;
  color: gainsboro;
} */

.card-title{
  background-color: transparent;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  border: none;
}

.card-main {
  margin: 40px 20px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: large;
}
.card-body {
  width: fit-content;
}

.footer-card {
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  border-top: none;

}